In [65]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pandas as pd

from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.tokenize import WhitespaceTokenizer 

data = pd.read_csv('eyecareFAQ.csv', error_bad_lines=False)
data.head()

b'Skipping line 18: expected 1 fields, saw 2\nSkipping line 26: expected 1 fields, saw 2\nSkipping line 56: expected 1 fields, saw 5\nSkipping line 59: expected 1 fields, saw 2\nSkipping line 83: expected 1 fields, saw 2\nSkipping line 87: expected 1 fields, saw 2\nSkipping line 313: expected 1 fields, saw 2\nSkipping line 584: expected 1 fields, saw 3\nSkipping line 649: expected 1 fields, saw 2\nSkipping line 785: expected 1 fields, saw 2\nSkipping line 816: expected 1 fields, saw 2\nSkipping line 838: expected 1 fields, saw 2\nSkipping line 862: expected 1 fields, saw 2\nSkipping line 1199: expected 1 fields, saw 3\nSkipping line 1232: expected 1 fields, saw 2\nSkipping line 1279: expected 1 fields, saw 2\nSkipping line 1280: expected 1 fields, saw 2\nSkipping line 1308: expected 1 fields, saw 2\nSkipping line 1343: expected 1 fields, saw 2\nSkipping line 1401: expected 1 fields, saw 2\nSkipping line 1524: expected 1 fields, saw 3\nSkipping line 1565: expected 1 fields, saw 2\nSkipping line 1717: expected 1 fields, saw 2\nSkipping line 1865: expected 1 fields, saw 2\nSkipping line 1880: expected 1 fields, saw 2\nSkipping line 1929: expected 1 fields, saw 2\nSkipping line 1932: expected 1 fields, saw 2\nSkipping line 1986: expected 1 fields, saw 3\nSkipping line 2108: expected 1 fields, saw 2\nSkipping line 2109: expected 1 fields, saw 2\nSkipping line 2327: expected 1 fields, saw 2\nSkipping line 2380: expected 1 fields, saw 3\nSkipping line 2418: expected 1 fields, saw 2\nSkipping line 2624: expected 1 fields, saw 2\n'

                                              LABELS
0  I have "spots" floating around in my eye. Shou...
1  I work on a computer all day. Can this hurt my...
2  I'm interested in having LASIK done. What info...
3         Can you tell me what's wrong with my eyes?
4  My doctor refused to give me my contact lens p...

In [66]:
import nltk

In [67]:
data['LABELS'].dropna(inplace=True)
tokens = data['LABELS'].apply(word_tokenize)

In [68]:
print(tokens)

0       [I, have, ``, spots, '', floating, around, in,...
1       [I, work, on, a, computer, all, day, ., Can, t...
2       [I, 'm, interested, in, having, LASIK, done, ....
3       [Can, you, tell, me, what, 's, wrong, with, my...
4       [My, doctor, refused, to, give, me, my, contac...
                              ...
3024    [What, are, symptoms, of, a, rhegmatogenous, r...
3025    [Are, there, medications, that, affect, my, ch...
3026    [Does, heart, disease, affect, my, chances, of...
3027    [Does, cataract, surgery, affect, my, chances,...
3028               [What, is, juvenile, retinoschisis, ?]
Name: LABELS, Length: 3029, dtype: object

In [69]:
import nltk,csv,numpy 
from nltk import sent_tokenize, word_tokenize, pos_tag
reader = csv.reader(open('eyecareFAQ.csv', 'rU'), delimiter= ",",quotechar='|')

/home/kam/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: 'U' mode is deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [70]:
tokenData = nltk.word_tokenize(str(reader))

In [71]:
print(tokenData)

['<', '_csv.reader', 'object', 'at', '0x7f25c07ecd50', '>']

In [72]:
nltk.word_tokenize(str(data["LABELS"][0]))

['I',
 'have',
 '``',
 'spots',
 "''",
 'floating',
 'around',
 'in',
 'my',
 'eye',
 '.',
 'Should',
 'I',
 'be',
 'worried',
 '?']

In [73]:
nltk.tokenize.WhitespaceTokenizer().tokenize(str(data["LABELS"][0]))

['I',
 'have',
 '"spots"',
 'floating',
 'around',
 'in',
 'my',
 'eye.',
 'Should',
 'I',
 'be',
 'worried?']

In [74]:
# Tokenize using Punctuations
nltk.tokenize.WordPunctTokenizer().tokenize(str(data["LABELS"][0]))

['I',
 'have',
 '"',
 'spots',
 '"',
 'floating',
 'around',
 'in',
 'my',
 'eye',
 '.',
 'Should',
 'I',
 'be',
 'worried',
 '?']

In [75]:
nltk.tokenize.TreebankWordTokenizer().tokenize(str(data["LABELS"][0]))

['I',
 'have',
 '``',
 'spots',
 "''",
 'floating',
 'around',
 'in',
 'my',
 'eye.',
 'Should',
 'I',
 'be',
 'worried',
 '?']

In [76]:
#Original Sentence
data["LABELS"][0]

'I have "spots" floating around in my eye. Should I be worried?'

In [77]:
#STEMMING
words  = nltk.tokenize.WhitespaceTokenizer().tokenize(str(data["LABELS"][0]))
df = pd.DataFrame()
df['OriginalWords'] = pd.Series(words)
#porter's stemmer
porterStemmedWords = [nltk.stem.PorterStemmer().stem(word) for word in words]
df['PorterStemmedWords'] = pd.Series(porterStemmedWords)
#SnowBall stemmer
snowballStemmedWords = [nltk.stem.SnowballStemmer("english").stem(word) for word in words]
df['SnowballStemmedWords'] = pd.Series(snowballStemmedWords)
df

   OriginalWords PorterStemmedWords SnowballStemmedWords
0              I                  I                    i
1           have               have                 have
2        "spots"            "spots"              "spots"
3       floating              float                float
4         around             around               around
5             in                 in                   in
6             my                 my                   my
7           eye.               eye.                 eye.
8         Should             should               should
9              I                  I                    i
10            be                 be                   be
11      worried?           worried?             worried?

In [78]:
#LEMMATIZATION
words  = nltk.tokenize.WhitespaceTokenizer().tokenize(str(data["LABELS"][0]))
df = pd.DataFrame()
df['OriginalWords'] = pd.Series(words)
#WordNet Lemmatization
wordNetLemmatizedWords = [nltk.stem.WordNetLemmatizer().lemmatize(word) for word in words]
df['WordNetLemmatizer'] = pd.Series(wordNetLemmatizedWords)
df

   OriginalWords WordNetLemmatizer
0              I                 I
1           have              have
2        "spots"           "spots"
3       floating          floating
4         around            around
5             in                in
6             my                my
7           eye.              eye.
8         Should            Should
9              I                 I
10            be                be
11      worried?          worried?